body {    
    margin: 0px 2px !important;
}

form {
    margin: 0 !important;
}

.ui-widget-content {
    border: none !important;
}

.ui-menu.ui-widget {
    width: 100% !important;
}

.ui-layout-unit .ui-layout-unit-content {
    border: 1px solid #CADDEC !important;
}

.ui-layout-unit .ui-layout-unit-content {
    padding: 0 !important;
    margin-top: -1 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    width: 28px !important;
    height: 30px !important;
}

.ui-selectonemenu, .ui-spinner-input {
    width: 200px !important;
}

#cabecalho{
    padding: 0;
    height: 130px !important;
}
.nomeSistema {
    text-align: center; 
}

#logo_ufg {    
    padding-top: 0.5em;
}

.textoNomeSistema {
    font-size:3em; 
    font-weight: bold; 
    color: #005CA1;
    vertical-align: middle;
}

.paddingTop1EM {
    padding-top: 1em;
}

.botaoSimples {
    width: 80px;
    height: 26px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    text-align: center !important;
}

.botaoSimples:hover {
    border-width: 2px;
}

.botaoCancelar {
    color: #6A6A6A;
    border-color: #CCCCCC;
    background: #FCFCFC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FCFCFC), to(#D7D7D7));
    background: -webkit-linear-gradient(#FCFCFC, #D7D7D7);
    background: -moz-linear-gradient(#FCFCFC, #D7D7D7);
    background: -ms-linear-gradient(#FCFCFC, #D7D7D7);
    background: -o-linear-gradient(#FCFCFC, #D7D7D7);
    background: linear-gradient(#FCFCFC, #D7D7D7);
    -pie-background: linear-gradient(#FCFCFC, #D7D7D7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFC', endColorstr='#D7D7D7');
}

.textoCentralizado {
	text-align: center;
}

.textoDireita {
	text-align: right;	
}

.textoNegrito {
	font-weight: bold;
}
.loading, .loading img {
	width:64px;
	height:64px;
	position:fixed;
	right:5px;
	bottom:5px;
	padding-top: 8px;	
}

.loading img {
	padding-right: 5px;
}

.padding10{
	padding: 10px;
}

.titulo, .titulo div {	
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 5px; 
	width: 100%"
}

.botaoAzul {
	text-shadow: rgba(255, 255, 255, 0.74902) 0px 0px 0px !important;
	color: white !important;
}

.botaoAzul span {
	background-color: #0080C0 !important;
}

.botaoAzul span:hover {
	background-color: #006394 !important;
}

.botaoNormal {
	font-size: 10pt !important;
	height: 30px !important;
	margin: 0 !important;
}

.botaoBuscar {
	background: none !important;
	border: none !important;
	height: 24px !important;
}

.botaoBuscar span {
	background-image: url('/avadoc/resources/img/buscar.png');	
	padding-left: 10px !important;
	height: 24px !important;
}

.matricula td {
	padding: 0 !important;
}

.alturaPadrao {
	line-height: 25px !important;
}

.margemTop5{
	margin-top: 5px !important;
}